# -------------------------------------
# 공통 빌드 & 시스템
# -------------------------------------
.gradle/
build/
out/
bin/
.classpath
.project
.settings/
.factorypath
.sts4-cache
.springBeans
.apt_generated

# Gradle Wrapper 제외하지 않음 (필수 추적)
!gradle/wrapper/gradle-wrapper.jar

# -------------------------------------
# 테스트 & 빌드 산출물 내부 제외
# -------------------------------------
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

# -------------------------------------
# IDE 설정
# -------------------------------------
# VSCode
.vscode/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# -------------------------------------
# 기타 무시할 파일
# -------------------------------------
*.log
*.tmp
*.swp
*.bak
*.old

# -------------------------------------
# 민감한 정보 예외
# -------------------------------------
.env
.env.*

# -------------------------------------
# STS에서 자동 생성되는 문서
# -------------------------------------
HELP.md
