<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                        <pattern>yyyy-MM-dd HH:mm:ss.SSSZ</pattern>
                    </timestamp>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <mdc/>
                    <provider class="com.rihee.alerting.common.log.provider.CompositeStaticContextProvider"/>
                    <loggerName>
                        <fieldName>class</fieldName>
                    </loggerName>
                    <message/>
                    <stackTrace>
                        <fieldName>stacktrace</fieldName>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="prod">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                        <pattern>yyyy-MM-dd HH:mm:ss.SSSZ</pattern>
                    </timestamp>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <mdc/>
                    <provider class="com.rihee.alerting.common.log.provider.CompositeStaticContextProvider"/>
                    <loggerName>
                        <fieldName>class</fieldName>
                    </loggerName>
                    <message/>
                    <provider class="com.rihee.alerting.common.log.provider.StackTraceSummaryProvider">
                        <maxDepth>5</maxDepth>
                    </provider>
                </providers>
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>